* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 15px 25px;
    font-family: Arial, Helvetica, sans-serif;
    height: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    /* align-items: center; */
    
}

.container {
    width: 100%;
    max-width: 800px;
}

header {
    text-align: center;
}

header h1 {
    color: #ece9e9;
    font-size: 50px;
}

header p {
    color: #CCCCCC;
}

.gallery {
    margin-top: 80px;
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: flex-end;
    gap: 15px;
    box-shadow: 0 0 25px #4b4a4a;
}

.item {
    flex: 1 1 auto;
    height: 100%;
    position: relative;
    transition: all 1s;
}

img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: 2s;
}

.item:hover {
    cursor: pointer;
    flex-grow: 3;
    transform: scale(1.2);
    z-index: 1;
    box-shadow: 0 0 250px #4b4a4a;
}

.item img:hover {
    -webkit-box-reflect: below 6px 
    linear-gradient(transparent, transparent, rgba(3,3,3,0.4));
}

@media (max-width: 600px) {
    body {
        margin: 15px 25px;
    }
    
    .container {
        max-width: 100%;
    }

    header h1 {
        font-size: 30px;
    }

    .gallery {
        height: 280px;
        gap: 5px;
    }

    .item:hover {
        flex-grow: 4;
    }
}